<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template for HTML email</title>
</head>
<body>
<p>
    Добрый день, <span th:text="${name}">NAME</span>!
</p>

<p>
    Вы заказали следующую справку <b th:text="${certificateType}">CERTIFICATE TYPE</b> в
    <span th:text="${subscriptionDate}">28-12-2012</span>
</p>
<p>
    Regards, <br/>
    <em>КТИ СибГУТИ</em>
</p>
</body>
</html>
