<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template for HTML email</title>
</head>
<body>
<p>
    Здравствуйте, <span th:text="${name}">NAME</span>!
</p>
<p>
    Вы были зарегистрированы во внутренней систему колледжа <b>Портал ГУТИ</b> от
    <span th:text="${subscriptionDate}">28-12-2012</span>
</p>
<p>Для входа в приложения используйте следующие данные:-</p>

<p>
    логин: <span th:text="${email}">email</span>
</p>
<p>
    пароль: <span th:text="${password}">password</span>
</p>

<p>
    Regards, <br/>
    <em>The CodingNConcepts Team</em>
</p>
</body>
</html>