<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template for HTML email</title>
</head>
<body>
<p>
    Здравствуйте,
    Вы получили приглашение в мобильное приложение КТИ.
</p>
<p>Для входа в приложение используйте следующие данные:</p>
<p>
    логин: <span th:text="${login}">login</span>
</p>
<p>
    пароль: <span th:text="${password}">password</span>
</p>
<p>
    Файл приложения лежит в телеграм канале: https://t.me/+WOFBqHPlpqs5NDEy
</p>
<p>
    С наилучшими пожеланиями, <br/>
    <em>The Coding Team</em>
</p>
</body>
</html>